<div class="enterprise-deatils box-tab" style="margin-bottom: 20px;">
  <div class="body h2" style="display: inline-block; margin-top: 0px;  margin-bottom: 0px; padding-top: 5px; padding-bottom: 0px;"><%= @title_heading %></div>
  <div class="new-button" style="display: inline-block; float: right; padding-bottom: 10px;">
    <%= link_to "Search", all_users_user_dashboards_path(id: current_user.id), class: "btn btn-primary" %>
  </div>
</div>