<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="head-title">Privacy</h2>
    </div>
    <div class="col-xs-12">
      <div class="tab-view-tag">
        <ul>
          <% @privacy_policies.each do |privacy_policy| %>
            <li>
              <div class="main-tag-head"><%= privacy_policy.header %></div>
              <div class="main-tag-view-style">
                <p><%= privacy_policy.content %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
