<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!--<h2 class="head-title">Privacy</h2>-->
    </div>
    <div class="col-xs-12">
      <div class="tab-view-tag">
        <ul>
          <% @privacy_policies.each do |privacy_policy| %>
            <li>
              <div class="main-tag-head"><%= privacy_policy.header %></div>
              <div class="main-tag-view-style">
                <p><%= privacy_policy.content %></p>
              </div>
            </li>
          <% end %>
        </ul>

        <div class=WordSection1>

          <p class=MsoNormal style='line-height:31.5pt;background:white'><span
          style='font-size:25.5pt;font-family:"Helvetica Neue";color:black'>Terms of
Service</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>TERMS OF SERVICE</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Thank
you for your interest in INP. Please review the following Terms of Service,
which will govern your registration with and use of the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>By
using the INP Platform, you agree to the terms and conditions ('Terms of
Service') contained in this document ('Agreement'). You agree to accept these
Terms of Service electronically. If you do not want to be bound by the Terms of
Service, you may not make use of the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>DEFINITIONS</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>“Accredited
Investor” for Users in Canada shall have the meaning set forth under Canadian
laws, as discussed in the section entitled “Accredited Investors” below, and
for Users outside of Canada shall have the equivalent meaning, if any, as set
forth in the applicable securities laws in such User’s jurisdiction of
residence.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>“Content”
means all information and content available on the INP Platform (if uploaded by
INP, “INP Content”, and if uploaded by a User, “User Content”) and its “look
and feel”, except all User submissions, including but not limited to
trademarks, logos, service marks, copyrighted works, text, graphics, logos,
button icons, images, audio/video clips, data compilations and software, and
the compilation and organization thereof.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>“INP”
means iNet Plus, a feature brand platform under Uni-Innovation Group, a liability
company, 431-5735 Hampton Place, Vancouver, BC Canada, V6T 2G8 and owner of the
INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>“Services”
refers to all products and services provided to you by INP</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>“Organization”
means an investor group (organized group of investors) as well as business plan
competitions, economic development agencies, entrepreneur conferences,
financial institutions, incubators/accelerators, non-profits, accounting firms
(service provider), advisors (service provider), family offices (service
provider), law firms (service provider), universities, and venture funds</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>“Registered
User” shall mean any user or person who interacts with the INP Content or User
Content via the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Description of the INP Platform</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
provides resources and tools to entrepreneurs, Organizations and Accredited
Investors. We have built the INP Platform to meet the needs of the entrepreneur,
VC, investor, and angel community. The INP Platform refers to the tools and
services offered to Registered Users of INP, including its wholly-owned
subsidiaries and affiliates. This includes any and all of the Content thereon
and services provided by INP on or in conjunction with websites wholly owned by
INP, including but not limited to, application program interfaces (“api’s”),
storage, email, professional services, and collaboration services. Such tools
and services include, but are not limited to, the offerings on the following
website:</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
(inp.global): A web application that primarily provides deal flow management,
deal collaboration, and other tools and services for entrepreneurs, companies,
investors and organizations.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
does not review or verify any User content, and does not and cannot guarantee
that any User content is accurate or complete. In order to use the INP
Platform, you must use one of the supported Internet browsers. Additionally,
you are required to register your User information with INP. INP does not
provide internet access, and you are responsible for all fees associated with
your internet connection.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Registered Users</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Entrepreneurs:
If you are an entrepreneur User, you may upload information about your business,
including information you consider confidential and designate as confidential,
and you may designate which Investors or Organizations may see that
information. However, be aware that INP has no control over the actions of
Investors or Organizations. Also, though we take all reasonable steps in
accordance with industry standards to prevent it, we cannot guarantee that the INP
Platform will never suffer from a software bug or a hacker attack that will
allow unauthorized viewing of confidential material, or that any Investor is
actually accredited.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Investors:
If you are classified by INP as an Investor User, whether or not Accredited,
you may have access to an entrepreneur’s confidential information either
directly or through an Organization, and should use your discretion in how you
handle that information. All Organizations will be overseen by an
Administrator, who will determine membership and set rules and parameters as
provided on the INP Platform for that Organizations.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>General
Users: Certain portions of the INP Platform will be visible to Users who have
not registered as entrepreneurs, Organizations, or Accredited Investors. Those
Users, nevertheless, are bound by these Terms of Service. Entrepreneurs should
be aware that information they provide that is not designated as confidential
will be visible to all Users. See User Content discussion in User Submissions
Section below.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
shall have no obligation to participate or assist in any way in the event of
any dispute between Users.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Notwithstanding
the above or anything to the contrary set forth in the Terms of Service, INP
shall have the absolute and unlimited rights to reject any User, to terminate
the account of any User, to delete any User Content, or to publish any User
Content that is not confidential, including for the purposes of marketing INP
and/or the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>License to Use</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Subject
to the terms of these Terms of Service, which constitute the agreement between INP
and you, the User, INP grants to you a non-exclusive, revocable, non-transferable
license to use the INP Platform. All right, title, and interest in and to the INP
Platform (excluding User Content) is and will remain the exclusive property of INP
and and/or its licensors.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Accredited Investors</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
enables Users to self-accreditate, but INP does not certify or verify the
self-accreditation of any of its Users. All Users of the INP Platform are
advised that INP does not take any steps to verify the information provided to
us by the Accredited Investor, and does not and cannot guarantee that any
investor actually qualifies as an Accredited Investor. Each User is solely
responsible for conducting diligence on any Accredited Investor with whom that
User interacts on the INP Platform. Further, some of INP’s Users may be located
outside of Canada. INP does not verify the compliance of any such Users with
the applicable securities laws in their home jurisdiction and relies solely on
their self-certification that they are in compliance with applicable laws.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Securities</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Federal
securities laws require that securities sold in Canada be registered with the
Securities and Exchange Commission unless there is an exemption available under
applicable law. “Securities” is a very broadly defined term under Canada
securities law and will include most of the types of investment opportunities
that are offered by early and growth stage ventures including, without
limitation, promissory notes, convertible promissory notes, options, warrants,
capital stock and other financial contracts that offer third parties a
participation in profit-sharing or the potential growth of a business. Such
transactions are subject to both federal and provincial law and depending on
the company involved and the location of the investors, may also be subject to
foreign laws. To comply with certain provisions of applicable law necessary to
qualify for exemptions from registration in Canada, there are limitations on
the use of general solicitation or advertising. INP is not responsible for
determining and makes no representation as to whether any use of the INP
Platform constitutes general solicitation or advertising under applicable law.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>By
using the INP Platform you understand and agree that you will be solely
responsible for complying with all applicable law regarding any transaction in
which you may engage, including without limitation the determination of whether
any investor is an Accredited Investor and whether any investment complies with
the terms of any Canadian law (or any law of any Canadian province or foreign
jurisdiction) or meets the criteria for any exemption from registration and/or
disclosure available thereunder.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
does not recommend any investments, but may verify or review User documents or
communications, and give business advice, financial advice, investment advice,
tax advice or legal advice.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Purchases</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Some
of INP's services are provided free of charge, while others are provided for a
fee. The fees for each service vary.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>All
product and service features, including availability and price, are subject to
change at any time without notice. We reserve the right, with or without prior
notice, to limit the availability of or to discontinue any product or service;
to impose conditions on any promotion; to bar any user from making any
purchase; and/or to refuse to provide any user with any product or service.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>You
authorize INP to charge you for all products or services purchased by you
through the INP Platform, to the payment method you provide. &quot;Charge&quot;
shall indicate either a charge or a debit, as applicable, against your payment
method. If you request a purchase on a recurring basis, you agree that we may
automatically charge the payment method you have provided at the regular
intervals you have designated, unless and until you cancel according to our
cancellation terms by selecting the cancellation option on your company profile
page. You represent that you have the legal right to use any payment method
that you submit to us. There will be no refunds or credits for prior months of
service, partial months of service, upgrade/downgrade refunds, or refunds for
months unused with an open account. In order to treat everyone equally, no
exceptions will be made.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>All
orders placed through the INP Platform are subject to our acceptance. Your
receipt of an order confirmation does not signify our acceptance of your order.
We reserve the right at any time after receipt of your order to accept or
decline your order for any or no reason and without liability to you or anyone
else. If your method of payment has already been charged for an order that we
later cancel, we will issue you a refund. Prices are in U.S. dollars unless
otherwise stated and are subject to change. We may require verification of
information prior to the acceptance and/or fulfillment of any order.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Our Proprietary Rights</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>We
and/or our licensors and suppliers own the information and materials made
available through INP, excluding User Content. Such information and materials
are protected by copyright, trademark, patent and/or other proprietary rights
and laws. Subject to your compliance with this Agreement, and solely for so
long as you are permitted by us to access and use INP, you may access, view and
print a single copy of any content on INP to which we provide you access
hereunder, solely for your personal, internal business and non-commercial
purposes, provided that you keep intact all copyright and other proprietary
notices. Other than exercising rights you may have to documents provided to you
by another user through the Services, or except as expressly authorized in
advance by us in writing, you agree not to reproduce, modify, rent, lease,
loan, sell, distribute, or create derivative works based on all or any part of INP
or any information or materials made available through INP.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Our
trade names, trademarks and service marks include, without limitation, INP and
any affiliated or associated logos. All trademarks and service marks on INP not
owned by us are the property of their respective owners. You may not use our
trade names, trademarks or service marks in connection with any product or
service that is not ours, in any manner that is likely to cause confusion.
Nothing contained on INP should be construed as granting any license or right
to use any trade names, trademarks or service marks without the express prior
written consent of the owner.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Eligibility</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>In
order to access and use most of the INP Platform, you must register for an
account. If you are under the age of 18, please do not sign up for an account.
Additionally, if you wish to use the INP platform as an investor, you must be
an Accredited Investor and so represent to INP. Organizations may also register
and will be overseen by the Organization Administrator.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Limitations on Use</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>In
order to best serve our Users, and to comply with applicable laws, INP has a
limited number of rules which govern how you may behave while interacting with
the INP Platform and other Users. Please review the rules below carefully,
since your violation of them may result in the termination of your access to
the INP Platform in INP’s sole discretion at any time and without prior notice.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Limitations on Service</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>While
it is our goal at INP to provide you with a useful, stable and available
service, we cannot guarantee that there will be no unforeseen difficulties,
technical or otherwise, which may, in rare cases, result in service
interruptions or loss of data. For this reason, the INP Platform and all
Content and services on it are provided strictly on an 'as is' basis. By
accepting these Terms of Service, you agree that neither INP nor any of its
third party service providers will be held accountable for any delays in
transmission of your data, data loss, service interruptions or retention of
User settings. For a brief overview of our policies regarding the safeguarding
of your data, please view our Privacy Policy.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
reserves the right to change or discontinue, either temporarily or permanently,
any part of the INP Platform or any or all of its services at any time and
without prior notice. You agree that neither INP nor any of its third party
service providers will be liable for any damages, including lost business
opportunities, should such discontinuance occur.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Data Accuracy</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>We
ask that any registration data you provide to INP is true, current and
complete. In the event any of this information changes, please update it on
your personal profile page. For details on how you can access your stored data,
please refer to INP’s Privacy Policy.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Passwords</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>During
your registration you will set your account access login and password. You are
responsible for maintaining the confidentiality of this information and are
responsible for any and all activities and postings that are made using your
account.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Please
notify INP immediately if you suspect that an unauthorized person has accessed
your account. Should you misplace or forget your password, please click on the
forgot on the forgot password link. If you continue to have problems, please
contact our technical support staff at&nbsp;</span><u><span style='font-size:
              11.5pt;font-family:"Helvetica Neue";color:#1983CA'>support@inp.global</span></u><span
          style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Compliance with Applicable Laws</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>You
agree to use the INP Platform only as provided for in these Terms of Service.
You also agree not to use the INP Platform in any way that is in conflict with
the law in your jurisdiction. Further, you may not use the INP Platform for the
transmission of any information that is obscene, libelous, harassing, abusive,
threatening, invasive of a User's privacy, or in violation of any other
individual's intellectual property rights.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Email</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Please
use the email features of the INP Platform responsibly. You may not use the INP
Platform to send unsolicited commercial email ('spam') or unsolicited mass
distribution of files. In order to enforce this provision, INP may establish
additional policies regarding the use of email features, including, but not
limited to, maximum retention times of messages, maximum number of messages
sent per day, or a maximum size of a message.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>You
agree not to use or launch any automated system, including without limitation,
“robots,” “spiders,” “offline readers,” etc., that access the INP Platform in a
manner that sends more request messages to INP’s servers in a given period of
time than a human can reasonably produce in the same period by using a
conventional on-line web browser. Notwithstanding the foregoing, INP grants the
operators of public search engines permission to use spiders to copy materials
from the site for the sole purpose of creating publicly available searchable
indices of the materials, but not caches or archives of such materials. INP
reserves the right to revoke these exceptions either generally or in specific
cases. You agree not to collect or harvest any personally identifiable
information, including account names, from the INP Platform, nor to use the
communication systems provided by the INP Platform for any commercial
solicitation purposes.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>If
you receive any email through the INP Platform that you believe is not in
compliance with the above provision, please notify us by forwarding the email,
along with an explanatory note, to&nbsp;</span><a href="mailto:support@gust.com"><span
          style='font-size:11.5pt;font-family:"Helvetica Neue";color:#1983CA'>support@inp.global</span></a><span
          style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'> </span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Privacy</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
is committed to protecting the privacy of its Users and has developed a
detailed Privacy Policy that describes our practices and procedures regarding
your data. The Privacy Policy is incorporated herein by reference. Please
review the Privacy Policy before accepting this Agreement.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>By
registering with or using INP, you consent to the collection and use of your
personal information and the transfer of this information to Canada or other
countries for processing and storage by INP.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>A
User may elect to make certain confidential, personal or private information
viewable through the INP Platform. You may not disclose information obtained in
this manner to any third parties without first obtaining permission from that
User. You agree not to collect or aggregate User information accessible through
the INP Platform for commercial use or redistribution, including the targeted
marketing of non-INP services to individual Users. INP reserves the right to
immediately terminate, without notice, the account of any User found to have
violated this rule in the sole and absolute discretion of INP.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>The
INP Platform provides entrepreneur Users the option to publish a subset of the
data to non-registered Users in order to promote their presence on the INP
Platform, and to facilitate inviting the non-registered Users to join the INP
Platform to enable private collaboration. This includes basic information such
as company name, location and one-line pitch, among other data. It also
includes their company overview, pitch video and profiles for members of their
team.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>The
INP Platform also provides administrators of Organizations the option to
publish a subset of the data to non-registered Users in order to promote their
presence on the INP Platform, and to facilitate inviting the non-registered
Users to join the INP Platform to enable private collaboration. This includes a
profile to market themselves to entrepreneurs, which includes basic information
such as the Organization’s name, location, investment preferences and portfolio
companies.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>All
of the data for each respective User is exclusively entered and maintained by
the user. Each User may (but does not have to) opt-in to publishing this
information and always has the power to remove it from the public domain by
un-publishing it. All other data entered on INP is shared with other Users on
the INP Platform exclusively by the User's affirmative action; this data is,
and always will, remain privately available only to those Users. INP will never
use this information in a personally identifiable way.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Prohibited Activities</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>In
general, as a condition to your continued use of the INP Platform, you agree
that you will not use the INP Platform for any purpose that is unlawful or
prohibited by these Terms of Service. In the access or use of the INP Platform,
you shall comply with these Terms of Service and the special warnings or
instructions for access or use posted on the INP Platform. You shall act always
in accordance with the law, custom and in good faith. You may not make any
change or alteration to the INP Platform or any INP Content or services that
may appear on the INP Platform and you may not impair in any way the integrity
or operation of the INP Platform. Without limiting the generality of any other
provision of these Terms of Service, if you default negligently or willfully in
any of the obligations set forth in these Terms of Service, you shall be liable
for all the losses and damages that this may cause to INP, our affiliates,
partners or licensors.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>By
way of example, and not limitation, you agree not to:</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Post,
transmit, or otherwise make available through or in connection with your use of
the INP Platform:</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Any
information or materials that are or may be, or the posting, transmission or
use of which is or may be: (a) threatening, harassing, degrading, hateful or
intimidating; (b) defamatory or libelous; (c) fraudulent or tortious; (d)
obscene, indecent, pornographic or otherwise objectionable; or (e) protected by
copyright, trademark, trade secret, right of publicity or privacy or any other
proprietary right of any third party.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Any
material that would give rise to criminal or civil liability; that encourages
conduct that constitutes a criminal offense; or that encourages or provides
instructional information about illegal activities or activities such as
“hacking,” “cracking,” or “phreaking.”</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Any
virus, worm, Trojan horse, Easter egg, time bomb, spyware, or other computer
code, file, or program that is harmful or invasive or that may or is intended
to damage, hijack, disable, interfere with, or disrupt the operation of, or
monitor the use of, any hardware, software or equipment.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Any
unsolicited or unauthorized advertisements, promotional material, “junk mail,”
“spam,” “chain letter,” “pyramid scheme” or investment opportunity, or any
other form of solicitation that is not expressly approved in writing by INP in
advance.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Any
personally identifiable information of another individual, without the prior
consent of such individual.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Any
material, non-public information about a company, without the proper
authorization to do so.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Use
the INP Platform for any fraudulent or unlawful purpose.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Use
the INP if you are a competitor of the Company, or for reasons that are in
competition with the Company.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Use
the INP Platform to defame, abuse, harass, stalk, threaten or otherwise violate
the legal rights of others, including without limitation others’ privacy rights
or rights of publicity, or to harvest or collect information about Users of the
INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Impersonate
any person or entity, including without limitation any representative of INP or
any other company; falsely state or otherwise misrepresent your affiliation
with any person or entity in connection with the INP Platform; or express or
imply that INP endorses any statement you make.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Interfere
with or disrupt the operation of the INP Platform or the servers or networks
used to make the INP Platform available; or violate any requirements,
procedures, policies or regulations of such networks.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Restrict
or inhibit any other person from using the INP Platform (including without
limitation by hacking or defacing any portion of the INP Platform).</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Reproduce,
duplicate, copy, sell, resell, link to or otherwise exploit for any commercial
purposes, any portion of, use of, or access to, the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Modify,
adapt, translate, reverse engineer, decompile or disassemble any portion of the
INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Remove
any copyright, trademark or other proprietary rights notice from the INP
Platform or materials originating from the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Frame
or mirror any part of the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Create
a database by downloading and storing INP Platform Content.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Use
any robot, spider, site search/retrieval application or other manual or
automatic device to retrieve, index, “scrape,” “data mine” or in any way INP
Platform Content or reproduce or circumvent the navigational structure or
presentation of the INP Platform without INP’s express prior written consent.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>User Submissions</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>We
do not accept unsolicited suggestions and/or ideas. All inquiries, feedback,
suggestions, ideas or other information any User provides to INP concerning the
INP Platform (collectively, “Submissions”) will be treated as non-proprietary
and non-confidential. By transmitting or posting any Submission, the User
hereby grants INP full ownership of the Submission as if INP had created,
developed and posted the Submission for its own purposes. Please note this is
different from User Content, which is addressed below. INP reserves the right
to copy, use, reproduce, modify, adapt, translate, publish, license,
distribute, sell or assign the Submission in any way as it sees fit, including
but not limited to copying in whole or in part, creating derivative works from,
distributing and displaying any Submission in any form, media, or technology,
whether now known or hereafter developed, alone or as part of other works, or
using the Submission within or in connection with INP’s products or services.
User also acknowledges that User Submissions will not be returned and INP may
use Submissions, and any ideas, concepts or know how contained therein, without
payment of money or any other form of consideration, for any purpose including,
without limitation, developing, manufacturing, distributing and marketing
products. For clarification, deal documents and emails or other communications
between Users are not considered Submissions; INP claims no right, title or
interest in such documents or communications.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>If
a User makes a Submission, the User represents and warrants that the User owns
or otherwise control the rights to the Submission. User further represents and
warrants that such Submission does not constitute or contain software viruses,
commercial solicitation, chain letters, mass mailings, or any form of “spam.”
Users may not use a false email address, impersonate any person or entity, or
otherwise mislead INP as to the origin of any Submission. The User agrees to
indemnify INP for all claims arising from or in connection with any claims to
any rights in any Submission or any damages arising from any Submission.<br>
<br>
<b>User Content</b></span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>The
INP Platform permits the submission of content or communications submitted by
Users (“User Content”) and the hosting, sharing, and/or publishing of such User
Content.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
does not and will not claim any ownership over or rights to User Content other
than a license to display it on the INP Platform as directed by the User, but
User understands that whether or not such User Content is published, though INP
will seek to maintain the confidentiality of any data designated as
confidential by a User, INP does not guarantee any confidentiality with respect
to any User Content.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>User
shall be solely responsible for User’s own User Content and the consequences of
posting or publishing them. In connection with User Content, User affirms,
represents, and/or warrants that: (i) User owns or has the necessary licenses,
rights, consents, and permissions to use and authorize INP to use all patent,
trademark, trade secret, copyright or other proprietary rights in and to any
and all User Content to enable inclusion and use of the User Content in the
manner contemplated by the INP Platform and these Terms of Service; and (ii)
User has the written consent, release, and/or permission of each and every
identifiable individual person in the User Content to use the name or likeness
of each and every such identifiable individual person to enable inclusion and
use of the User Content in the manner contemplated by the INP Platform and
these Terms of Service.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>By
submitting the User Content to the INP Platform, User hereby grants INP a
worldwide, non-exclusive, royalty-free, sublicenseable and transferable license
to use, reproduce, distribute, prepare derivative works of, display, and
perform the User Content in connection with the INP Platform and INP’s (and its
successor’s) business, including without limitation for promoting and
redistributing part or all of the INP Platform (and derivative works thereof)
in any media formats and through any media channels. In the event it does so, INP
will seek to maintain the confidentiality of User Content consistent with the
User’s designation, but once again cannot guarantee any such confidentiality.
User also grants each User of the INP Platform a non-exclusive license to
access the User Content of that User through the INP Platform, and to use,
reproduce, distribute, prepare derivative works of, display and perform such
User Content as permitted through the functionality of the INP Platform and
under these Terms of Service. The foregoing license granted by User terminates
once User or INP removes or deletes any User Content from the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>User
agrees that User will not: (i) submit material that is copyrighted, protected
by trade secret or otherwise subject to third party proprietary rights,
including privacy and publicity rights, unless User is the owner of such rights
or have permission from their rightful owner to post the material and to grant INP
all of the license rights granted herein; (ii) publish falsehoods or
misrepresentations that could damage INP or any third party; (iii) submit
material that is unlawful, obscene, defamatory, libelous, threatening,
pornographic, harassing, hateful, racially or ethnically offensive, or
encourages conduct that would be considered a criminal offense, give rise to
civil liability, violate any law, or is otherwise inappropriate; (iv) post
advertisements or solicitations of business; (v) impersonate another person.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
does not endorse any User Content or any opinion, recommendation, or advice
expressed therein, and expressly disclaims any and all liability in connection
with User Content. INP does not knowingly permit infringement of intellectual
property rights on its INP Platform, and will remove all User Content if
properly notified that such User Content infringes on another’s intellectual
property rights. INP reserves the right to remove User Content without prior
notice. INP will also terminate a User’s access to its INP Platform, if a User
is determined to be a repeat infringer. INP also reserves the right to decide
whether User Content is appropriate and complies with these Terms of Service
for violations other than copyright infringement and violations of intellectual
property law, such as, but not limited to, pornography, obscene or defamatory
material, or excessive length. INP may remove such User Content and/or
terminate a User’s access for uploading such material in violation of these
Terms of Service at any time, without prior notice and at its sole discretion.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>If
you are a copyright owner or an agent thereof and believe that any User Content
or other Content infringes upon your copyrights, you may submit a notification
pursuant to the Notice and Notice Copyright Enforcement by providing our
Copyright Agent with the following information in writing:</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>A
physical or electronic signature of a person authorized to act on behalf of the
owner of an exclusive right that is allegedly infringed;</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Identification
of the copyrighted work claimed to have been infringed, or, if multiple
copyrighted works at a single online site are covered by a single notification,
a representative list of such works at that site;</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Identification
of the material that is claimed to be infringing or to be the subject of
infringing activity and that is to be removed or access to which is to be
disabled and information reasonably sufficient to permit the service provider
to locate the material;</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Information
reasonably sufficient to permit the service provider to contact you, such as an
address, telephone number, and, if available, an electronic mail;</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>A
statement that you have a good faith belief that use of the material in the
manner complained of is not authorized by the copyright owner, its agent, or
the law; and</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>A
statement that the information in the notification is accurate, and under
penalty of perjury, that you are authorized to act on behalf of the owner of an
exclusive right that is allegedly infringed.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Notices
and counter-notices must meet the then-current statutory requirements imposed
by the Notice and Notice system. INP suggests that you consult your legal
advisor before filing a notice. Please be aware that there are penalties for
false claims under the Notice and Notice system. Any other feedback, comments,
requests for technical support, and other communications should be directed to
Company customer service through&nbsp;support@inp.global. You acknowledge that
if you fail to comply with all of the requirements of this Section, your notice
may not be valid.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>You
understand that when using the INP Platform, you may be exposed to User Content
from a variety of sources, and that INP is not responsible for the accuracy,
usefulness, safety, or intellectual property rights of or relating to such User
Content. You further understand and acknowledge that you may be exposed to User
Content that are inaccurate, offensive, indecent, or objectionable, and you
agree to waive, and hereby do waive, any legal or equitable rights or remedies
you have or may have against INP with respect thereto, and agree to indemnify
and hold INP, its owners/operators, affiliates, and/or licensors, harmless to
the fullest extent allowed by law regarding all matters related to your use of
the INP Platform.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Intellectual Property</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>All
information and Content available on the INP Platform and its “look and feel”,
except all User Content (as defined herein), including but not limited to
trademarks, logos, service marks, copyrighted works, text, graphics, logos,
button icons, images, audio/video clips, data compilations and software, and
the compilation and organization thereof is the property of INP, its
affiliates, partners or licensors, or is used with consent of the owner, and is
protected by Canadian and international laws, including laws governing
copyrights and trademarks. The reproduction and use of any of these by you is
prohibited unless specific permission is provided on the INP Platform or
otherwise. Any unauthorized use may violate copyright laws, trademark laws,
privacy and publicity laws, and/or communications regulations and statutes of Canada
and foreign laws and international conventions.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>The
trademarks, service marks, logos, and other indicia, including of INP
(collectively the “Trademarks”) which appear on the INP Platform are registered
and/or unregistered trademarks of INP and others. Nothing contained on the INP
Platform should be construed as granting, by implication or otherwise, any
right, license or title to any of the Trademarks without the advance written
permission of INP or such third party as may be appropriate. All rights are
expressly reserved and retained by INP. Your misuse of any of the Trademarks
displayed on the INP Platform, or any other Content on the INP Platform, except
as provided in these Terms Of Service, is strictly prohibited. You are also advised
that INP considers its intellectual property to be among its most valuable
assets, and will aggressively enforce its intellectual property rights to the
fullest extent of the law.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Both
the INP Platform and the Content of the INP Platform are provided “AS IS” for
Users information and personal use only and may not be used, copied,
reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or
otherwise exploited for any other purposes whatsoever without the prior written
consent of the respective owners. INP reserves all rights not expressly granted
in and to the INP Platform and the Content. User agrees to not engage in the
use, copying, or distribution of any of the Content other than expressly
permitted herein, including any use, copying, or distribution of User
submissions of third parties obtained through the INP Platform for any
commercial purposes. If User downloads or prints Content for personal use, User
must retain all copyright and other proprietary notices contained therein. User
agrees not to circumvent, disable or otherwise interfere with security related
features of the INP Platform or features that prevent or restrict use or
copying of any Content or enforce limitations on use of the INP Platform or the
Content thereon. INP does not make any representations or warranties, whether
express or implied, regarding or relating to the INP Platform or any associated
hardware or software, including the Content or operations of either.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Disclaimers</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>NONE
OF INP, ITS AFFILIATES, THEIR RESPECTIVE MEMBERS, OFFICERS, DIRECTORS,
EMPLOYEES, AGENTS, SUPPLIERS, OR LICENSORS (COLLECTIVELY, THE ‘<b>INP PARTIES’</b>)
MAKES ANY WARRANTIES OR REPRESENTATIONS ABOUT THE INP PLATFORM OR ITS CONTENTS,
INCLUDING BUT NOT LIMITED TO THEIR ACCURACY, RELIABILITY, COMPLETENESS, OR
TIMELINESS, OR RELIABILITY. NONE OF THE INP PARTIES SHALL BE SUBJECT TO
LIABILITY FOR TRUTH, ACCURACY, OR COMPLETENESS OF ANY INFORMATION MADE
AVAILABLE ON OR THROUGH THE INP PLATFORM OR FOR ERRORS, MISTAKES OR OMISSIONS
THEREIN OR FOR ANY DELAYS OR INTERRUPTIONS OF THE DATA OR INFORMATION STREAM
FROM WHATEVER CAUSE. YOU AGREE THAT YOU USE THE INP PLATFORM A SOLELY AT YOUR
OWN RISK.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
PROVIDES THIS INP PLATFORM AS A RESOURCE FOR USERS INVOLVED WITH INVESTING IN
EARLY STAGE TECHNOLOGY AND EMERGING GROWTH COMPANIES BUT INP DOES NOT GIVE
BUSINESS ADVICE, INVESTMENT ADVICE, TAX ADVICE OR LEGAL ADVICE TO ANYONE USING
THE INP PLATFORM. INP DOES NOT CLAIM TO BE AND IS NOT A BROKER, DEALER OR
INVESTMENT ADVISOR AND NOTHING HEREIN SHALL CONSTITUTE A SALE OR OFFER TO BUY
OR SELL OR RECOMMEND ANY SECURITIES. INP DOES NOT MAKE INVESTMENTS. EACH USER
OF THE INP PLATFORM MAKE HIS OR HER OWN INVESTMENT DECISIONS BASED UPON HIS OR
HER PERSONAL DUE DILIGENCE INVESTIGATION AND OTHER PERSONAL INVESTMENT
CRITERIA. INP IS NOT RESPONSIBLE FOR AND SHALL HAVE NO LIABILITY WITH RESPECT
TO THE ACTIONS OR OMISSIONS OF ANYONE USING THE INP PLATFORM. AS A CONDITION TO
YOUR USE OF THE INP PLATFORM, YOU HEREBY WAIVE AND RELEASE ANY AND ALL CLAIMS,
CAUSES OF ACTION OR OTHER RIGHTS THAT YOU MIGHT HAVE AGAINST ANY OF THE INP
PARTIES ARISING OUT OF OR RELATING TO THE SUBMISSION AND REVIEW OF ANY
MATERIALS MADE AVAILABLE ON OR THROUGH THE INP PLATFORM.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
DOES NOT AGREE TO ANY OBLIGATIONS OF CONFIDENTIALITY, NONDISCLOSURE OR NONUSE,
EXCEPT AS EXPLICITLY PROVIDED FOR IN OUR PRIVACY POLICY.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>IN
NO EVENT SHALL ANY INP PARTY BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING,
WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR
DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM
EITHER A PERSON OR ENTITY'S USE OR INABILITY TO USE THE INP PLATFORM, OR THE
SUBMISSION OF ANY MATERIALS VIA THE INP PLATFORM, WHETHER BASED ON WARRANTY,
CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, EVEN IF A INP
PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Some
provinces do not allow exclusion of implied warranties or limitation of
liability for incidental or consequential damages, so the above limitations or
exclusions may not apply to you. IN SUCH PROVINCES, THE LIABILITY OF THE INP
PARTIES SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Indemnification</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>At
INP's request, User agrees to defend, indemnify and hold harmless INP, its
shareholders, partners, affiliates, directors, officers, subsidiaries,
employees, agents, licensees, distributors and content providers from all
damages, liabilities, claims and expenses, including without limitation
attorneys' fees and costs, arising from or related, directly or indirectly, to
any misuse of the INP Platform or breach of this Agreement by User.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Termination</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
reserves the right to suspend or terminate these Terms of Service and/or any
User’s access to the INP Platform at any time and without notice in it sole
discretion.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Entire Agreement/Severability</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>These
Terms of Service, together with the Privacy Notice and any other legal notices
published by INP on the INP Platform, shall constitute the entire agreement
between you and INP concerning the INP Platform. If any provision of these
Terms of Service is deemed invalid by a court of competent jurisdiction, the
invalidity of such provision shall not affect the validity of the remaining
provisions of these Terms of Service, which shall remain in full force and
effect. No waiver of any term of this these Terms of Service shall be deemed a
further or continuing waiver of such term or any other term, and INP’s failure
to assert any right or provision under these Terms of Service shall not
constitute a waiver of such right or provision.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Arbitration</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>You
agree that: (i) the INP Platform shall be deemed solely based in Canada; and
(ii) the INP Platform shall be deemed a passive website that does not give rise
to personal jurisdiction over INP, either specific or general, in jurisdictions
other than Canada. These Terms of Service shall be governed by the internal
substantive laws of the Canada, without respect to its conflict of laws
principles. All disputes arising out of or relating to this Agreement shall be
finally resolved by arbitration conducted in Canada, under the rules of
commercial arbitration of the Canadian Arbitration Association. Both parties
shall bear equally the cost of arbitration (exclusive of legal fees and
expenses). All decisions of the arbitrator(s) shall be final and binding on
both parties and enforceable in any court of competent jurisdiction.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><b><span style='font-size:11.5pt;font-family:"Helvetica Neue";
              color:#4A4A4A'>Modifications to the Terms of Service</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>INP
may change these Terms of Service at any time and in its sole discretion. The
modified Terms of Service will be effective immediately upon posting and you
agree to the new posted Terms of Service by continuing your use the INP
Platform. INP will provide at least 10-days' notice before any material changes
take effect. If you do not agree with the modified Terms of Service, your only
remedy is to discontinue using the INP Platform. Notwithstanding the foregoing,
any changes to this Agreement shall not apply to any dispute between you and us
arising prior to the date of such posting or other notification. We may, at any
time, temporarily or permanently modify or discontinue all or part of INP, with
or without notice and/or offer opportunities to some or all users of INP. You
agree that the INP Platform shall not be liable to you or to any third party
for any modification, suspension or discontinuance of INP, in whole or in part,
or of any Service, content, feature or product offered through INP. You agree
that we may, at any time, charge fees in connection with the use of all or part
of INP and/or for certain features of the Services and that you will be
responsible for all such charges (including any applicable tax). You will be
notified in advance of any such charges.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>USER
ACKNOWLEDGES THAT USER HAS READ THIS AGREEMENT, UNDERSTANDS IT, AND AGREES TO
BE BOUND BY ITS TERMS AND CONDITIONS. USER FURTHER AGREES THAT IT IS THE
COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN USER AND INP WHICH
SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT, WRITTEN OR ORAL, AND ANY OTHER
COMMUNICATION BETWEEN USER AND INP RELATING TO THE SUBJECT MATTER OF THIS TERMS
OF SERVICE.</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Should
you have any questions concerning these Terms Of Service, please&nbsp;email support@inp.global.</span></p>

          <p class=MsoNormal style='line-height:22.5pt;background:white'><b><span
          style='font-size:15.0pt;font-family:"Helvetica Neue";color:black'>Privacy
Questions</span></b></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Questions
or concerns about INP's Privacy Policy or Terms of Service?</span></p>

          <p class=MsoNormal style='margin-bottom:7.15pt;line-height:16.5pt;background:
              white'><span style='font-size:11.5pt;font-family:"Helvetica Neue";color:#4A4A4A'>Contact
us at support@inp.global.</span></p>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
