<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @meeting_room.meeting %>
</p>

<%= link_to 'Edit', edit_meeting_room_path(@meeting_room) %> |
<%= link_to 'Back', meeting_rooms_path %>
