.question ul {
  padding-left: 0;
}
.question ul li {
    list-style: outside none none;
    background: #eeeeee none repeat scroll 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.4s;
}
.question ul li:hover {
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.box-sed h2 {
    color: #333333;
    font-size: 18px;
    margin: 8px 0 10px;
}
.box-sed {
    padding: 20px;
    width: 100%;
    position: relative;
}
.icon-ahead {
    float: left;
    margin-right: 10px;
    margin-top:-8px;
}
.icon-ahead .fa {
    border: 4px solid #ffffff;
    border-radius: 100%;
    box-shadow: 0 1px 1px 1px #cccccc;
    color: #fed136;
    font-size: 28px;
}
.box-sed p {
    color: #777777;
    margin-left: 42px;
    text-transform: none;
}
.que-set::after {
    background: -webkit-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    background: -moz-linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    background: -ms-linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    background: linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}
.que-set{
  position: relative;
}
.type-ans{
  margin-top: 15px;
}
.type-ans ul{
  padding-left: 40px;
}
.type-ans ul li {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    float: left;
    margin-right: 10%;
    padding: 5px 15px;
    transition: all 0.4s;
    cursor: pointer;
}
.type-ans ul li:hover {
    box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}
.type-ans {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.name-title {
    vertical-align: sub;
}
.icon-name {
    background: #fed136 none repeat scroll 0 0;
    border-radius: 100%;
    color: #ffffff;
    float: left;
    font-size: 18px;
    height: 30px;
    margin-right: 10px;
    padding-top: 1px;
    text-align: center;
    width: 30px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
 [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}
/* checked mark aspect */
 [type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\f00c ';
  position: absolute;
  top: 3px; left: -1px;
  font-size: 18px;
  line-height: 0.8;
  color: #fed136;
  transition: all .2s;
  font-family: fontawesome;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
 [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.question {
    margin-top: 40px;
}
.question .submit-btn .btn.btn-default {
    width: calc(100% - 50%);
    background: #222;
    padding: 12px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
}
.question .submit-btn .btn.btn-default:hover {
    background: #fed136;
    color: #222;
}
