.question ul {
  padding-left: 0;
}
.question ul li {
    list-style: outside none none;
    background: #eeeeee none repeat scroll 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.box-sed h2 {
    color: #333333;
    font-size: 18px;
    margin: 8px 0 10px;
}
.box-sed {
    margin-bottom: 50px;
    padding: 20px;
    width: 100%;
    position: relative;
}
.icon-ahead {
    float: left;
    margin-right: 10px;
    margin-top:-8px;
}
.icon-ahead .fa {
    border: 4px solid #ffffff;
    border-radius: 100%;
    box-shadow: 0 1px 1px 1px #cccccc;
    color: #fed136;
    font-size: 28px;
}
.box-sed p {
    color: #777777;
    margin-left: 42px;
    text-transform: none;
}
.que-set::after {
  background:-moz-linear-gradient(left, #ffffff, #fec503, #ffffff);
  background:-webkit-linear-gradient(to left, #ffffff, #fec503, #ffffff);
  background:-ms-linear-gradient(left, #ffffff, #fec503, #ffffff);
  background:-o-linear-gradient(left, #ffffff, #fec503, #ffffff);
  background:linear-gradient(to left, #ffffff, #fec503, #ffffff);
  bottom: -8px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.que-set{
  position: relative;
}
.type-ans{
  margin-top: 15px;
}
.type-ans ul{
  padding-left: 40px;
}
.type-ans ul li {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    float: left;
    margin-right: 10%;
    padding: 5px 15px;
    transition: all 0.4s;
    cursor: pointer;
}
.type-ans ul li:hover {
    box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}
.type-ans {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.name-title {
    vertical-align: sub;
}
.icon-name {
    background: #fed136 none repeat scroll 0 0;
    border-radius: 100%;
    color: #ffffff;
    float: left;
    font-size: 18px;
    height: 30px;
    margin-right: 10px;
    padding-top: 1px;
    text-align: center;
    width: 30px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
 [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}
/* checked mark aspect */
 [type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\f00c ';
  position: absolute;
  top: 3px; left: -1px;
  font-size: 18px;
  line-height: 0.8;
  color: #fed136;
  transition: all .2s;
  font-family: fontawesome;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
 [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


/*14-09-2016*/

.tabing .nav-pills > li {
    float: none;
}
.tabing {
    float: left;
    width: 300px;
}
.container.side-deatail {
    float: left;
    width: calc(100% - 300px);
}
.side-bar-set, .side-deatail{
  transition:all 0.4s;
  padding: 0;
}
.container.side-deatail.side-bar-set {
    width: calc(100% - 60px);

}
.tabing {
    background: #eff4f7 none repeat scroll 0 0;
    height:100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
html,body{
  height: 100%;
}
.tabing .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
  color: #222 ;
  background-color: #ffc857;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.nav > li > a:focus, .nav > li > a:hover{
  background: #fff;
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.tabing .nav > li > a {
    margin-bottom: 15px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background: #333333;
    color: #fed136;
    font-size: 16px;
    position: relative;
}
.tabing .nav > li > a .fa {
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;    margin-right: 15px;
}
.tabing ul {
    float: left;
    padding: 15px;
    width: 100%;
}
.close-open {
    background: #222222 none repeat scroll 0 0;
    padding: 15px 15px;
    text-align: right;
    cursor: pointer;
}
.close-open .fa{
  color: #eff4f7;
  font-size: 22px;
}
.tabing{
  transition:all 0.4s;
}
.tabing.open {
    width: 60px;
}
.tabing.open ul{
  padding: 15px 5px;
}
.tabing .tab-name {
    left: 50px;
    position: absolute;
    opacity: 1;
    transition:all 0.4s;
}
.tabing.open .tab-name {
  display: none;
  opacity: 0;
}
.tabing.open .close-open .fa{
  margin-right: 6px;
}
.tabing.open .nav > li > a{
  text-align: center;
}
.tabing.open .nav > li > a .fa{
  margin-right: 0;
}
.tab-title {
    background: #ffc857 none repeat scroll 0 0;
    font-size: 22px;
    padding: 12px 0;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
}
.dashbord .circle {
    background: #eff4f7 none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    display: block;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 150px;
    transition:all 0.4s;
}
.box-tab {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 45px;
    padding: 15px;
    position: relative;
    border: 1px solid #eff4f7;
}
.circle .fa {
    color: #ffffff;
    font-size: 100px;
    padding-top: 20px;
}
.box-tab h2 {
    color: #222;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
}
.box-tab h2 .fa {
    color: #fed136;
    font-size: 20px;
    margin-right: 10px;
    width: 20px;
}
.user-positon .fa {
    color: #fed136;
    font-size: 18px;
    margin-right: 10px;
    width: 20px;
}
.user-positon {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}
.buttons {
    position: absolute;
    right: 30px;
    top: -16px;
}
.edit {
    background: #5cb85c none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    float: left;
    height: 35px;
    padding-top: 7px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 35px;
}
.edit:hover{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.edit.share {
    background: #008cff none repeat scroll 0 0;
    margin-left: 5px;
}
.buttons a {
    color: #ffffff;
}
.top-count {
    background: #5cb85c none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    color: #ffffff;
    font-size: 14px;
    height: 25px;
    padding-top: 2px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -8px;
    width: 25px;
}
.top-count.notes {
    background: #ed4337 none repeat scroll 0 0;
}
.main-start p {
    color: #777777;
    margin: 0 auto 15px;
    text-align: center;
    width: calc(100% - 50%);
    position: relative;
}
.main-start p::after {
    background:-moz-linear-gradient(left, #ffffff, #fec503, #ffffff);
    background:-webkit-linear-gradient(to left, #ffffff, #fec503, #ffffff);
    background:-ms-linear-gradient(left, #ffffff, #fec503, #ffffff);
    background:-o-linear-gradient(left, #ffffff, #fec503, #ffffff);
    background:linear-gradient(to left, #ffffff, #fec503, #ffffff);
    bottom: -8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.dashbord  .navbar-default {
    background: #eff4f7 none repeat scroll 0 0;
    padding: 10px 0;
    background-image: none;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}
.dashbord .navbar-default .navbar-nav > li > a {
    background: #ffc857 none repeat scroll 0 0;
    border-radius: 5px;
    color: #333333;
    margin-right: 15px;
    margin-top: 5px;
    padding: 10px 15px;
    transition:all 0.4s;
}
.dashbord .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus{
  background: #333;
  color: #ffc857;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
.question {
  margin-top: 40px;
}
.question .submit-btn .btn.btn-default {
  width: calc(100% - 50%);
  background: #222;
  padding: 12px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
}
.question .submit-btn .btn.btn-default:hover {
  background: #fed136;
}

/*17-09-2016*/
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
  background-color: #ffc857;
  background-image: none;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dashbord .navbar-nav > li .top-count {
    height: 20px;
    padding-top: 0;
    right: 5px;
    top: -3px;
    width: 20px;
}
.dashbord .navbar-right .dropdown-menu.user-section {
    right: 13px;
}
.main-body {
    float: left;
    width: 100%;
    height: 100%;
}
.short-profile{
    float: left;
    padding-top: 80px;
    width: 100%;
}
.short-profile ul {
    float: left;
    padding-left: 0;
    width: 100%;
}
.short-profile ul li {
    float: left;
    list-style: outside none none;
    width: 25%;
}
.main-profile {
    background: #333333 none repeat scroll 0 0;
    border-radius: 100%;
    height: 50px;
    text-align: center;
    width: 50px;
    box-shadow: 0 1px 10px  rgba(255, 200, 87, 0.46);
    display: inline-block;
    transition:all 0.4s;
    overflow: hidden;
    position: relative;
}
.main-profile .fa{
  font-size: 22px;
  color: #ffc857;
  padding-top: 12px;
  transition:all 0.4s;
}
.main-profile img{
  height: 100%;
  width: auto;
}
.short-profile ul li a{
  float: left;
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  transition:all 0.4s;
}
.user-name-short {
    color: #5cb85c;
    font-size: 18px;
}
.view {
    color: #008cff;
    display: block;
    font-size: 15px;
}
a.view:hover{
  color: #008cff;
}
.tag-count {
    color: #ffc857;
    font-size: 16px;
}
.tag-name{
  color: #333;
  font-size: 15px;
}
.password-reset {
  width: 100%;
  margin: 0 15px;
}
/*19-09-2016*/

.short-profile ul li a:hover .main-profile{
  background-color: #ffc857;
}
.short-profile ul li a:hover .main-profile .fa{
    color:#333333;
  }
.short-profile ul li a:hover{
  background: #eff4f7;
  padding: 5px;
  border-radius:5px;
}
.header-name {
    color: #777777;
    font-size: 18px;
}
.main-details h3 {
    color: #ffc857;
    font-size: 18px;
    text-transform: uppercase;
}
.main-details h3 {
    color: #ffc857;
    font-size: 18px;
    text-transform: uppercase;
}
.time-date {
    display: inline-block;
    float: right;
}
.timezone .fa {
    background: #5cb85c none repeat scroll 0 0;
    border-radius: 100%;
    color: #ffffff;
    margin-right: 5px;
    padding: 5px;
}
.timezone{
  color:#ffc857;
}
.header-type{
  position: relative;
  padding-bottom: 12px;
}
.header-type::after {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -ms-linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(left center , #fff, #fec503, #fff) repeat scroll 0 0;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.main-img {
    height: 400px;
    overflow: hidden;
}
.box {
  margin-top: 10px;
  background:#FFF;
}
.main-img img{
  width: 100%;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.like{
    background: #5cb85c none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    color: #ffffff;
    font-size: 14px;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    width: 30px;
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    transition:all 0.4s;
}
.unlike{
  background: #ed4337;
}
.like:hover{
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.main-dashbord {
    padding-left: 0;
}
.main-dashbord li {
    list-style: none;
}
/*20-09-2016*/

.notification-box {
    background: #eff4f7 none repeat scroll 0 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    position: relative;
}
.main-notification{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  margin-top: 30px;
  position: relative;
}
.all-notification-close{
  background:#ed4337 ;
  border-radius: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  color: #ffffff;
  font-size: 14px;
  height: 25px;
  padding-top: 2px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -8px;
  width: 25px;
  cursor: pointer;
}
.all-notification-close .fa{
    transition:all 0.4s;
}
.all-notification-close:hover .fa{
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
.notification-box ul {
    padding-left: 0;
}
.notification-box ul li {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    list-style: outside none none;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
}
.notification-box li::after {
    clear: both;
    content: "";
    display: table;
}
.profile {
    float: left;
    width: 10%;
}
.notes-track{
  width: 90%;
}
.circle-pic {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    height: 80px;
    overflow: hidden;
    width: 80px;
}
.circle-pic img{
  width: auto;
  height: 100%;
}
.yellow {
    color: #ffc857;
    font-weight: bold;
}
.main-pro-name {
    font-size: 16px;
}
.notes-track p {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}
.time-des .fa {
    color: #fed136;
    margin-right: 5px;
}
.time-des {
    color: #c8c8c8;
    font-size: 14px;
}
 .btn.btn-green {
    background: #5cb85c none repeat scroll 0 0;
    text-align: left;
    color: #fff;
    transition:all 0.4s;
    padding: 3px 9px;
}
 .btn.btn-green .fa{
  color: #fff;
  margin-right: 10px;
}
.btn-yes-no {
    bottom: -14px;
    position: absolute;
    right: 100px;
}
 .btn.btn-green.red {
    background: #ed4337 none repeat scroll 0 0;
}
 .btn.btn-green:hover{
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.main-notification .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background:#eff4f7;
}
.dashbord {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.edit-mode-enabled .form-control,
.edit-mode-enabled .address-fields,
.edit-mode-enabled .edit_contact_form .form-control{
    display: inline-block;
    width: 400px;
}
.edit-mode-enabled .js-add-gallery,
.edit-mode-enabled .js-cancel,
.edit-mode-enabled #defaultSave{
    display: inline-block;
}
.edit-mode-enabled .js-edit-contact,
.edit-mode-enabled .display-mode-value,
.edit-mode-enabled .address-display-mode-container{
    display: none;
}
.edit-mode-disabled .form-control,
.edit-mode-disabled .address-fields,
.edit-mode-disabled .js-add-gallery,
.edit-mode-disabled .js-cancel,
.edit-mode-disabled #defaultSave{
    display: none;
}
.edit-mode-disabled .edit_contact_form .form-control{
    display: block;
}
.edit-mode-disabled .js-edit-contact{
    display: inline-block;
}
.box-tab p .fa {
    color: #fed136;
    font-size: 20px;
    margin-right: 10px;
    width: 20px;
}
.event-btn {
    text-align: center;
    margin-top: 20px;
}

.btn.btn-default.js-cancel {
    background: #ed4337 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-weight: 400;
    width: 120px;
    transition:all 0.4s ease 0s
}
.event-btn .btn.btn-primary{
  background-color: #5cb85c;
   border: medium none;
    color: #ffffff;
    font-weight: 400;
    width: 120px;
    background-image: none;
    transition:all 0.4s ease 0s
}
.btn.btn-default.js-cancel:hover {
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.event-btn .btn.btn-primary:hover{
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/*.edit-mode-enabled .circle:hover{
  background: #ffc857;
}*/
.circle input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top:0;
    cursor: pointer;
}
  .circle img {
    width: 150px;
    height: 150px;
}

/*22-09-2016*/
.notes-alert {
    margin-top: 20%;
    text-align: center;
}
.set-view-deatils {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 50%);
}
.name.notes {
    color: #898989;
    font-size: 14px;
    margin-right: 15px;
    text-transform: none;
    vertical-align: top;
}
.enterprise-deatils .form-group{
  position: relative;
}
.enterprise-deatils .form-group::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #ffffff, #fec503, #ffffff) repeat scroll 0 0;
    bottom: -8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.name.notes .fa{
  margin-right: 5px;
}
.add-form{
  text-align: center;
}
.add-form .btn-yes-no {
    position: inherit;
    display: inline-block;
    margin-top: 30px;
}
.prepend-type .form-control{
   width: 400px;
   display: inline-block;
}
.prepend-type .js-cancel, .prepend-type #defaultSave{
  display: inline-block;
  margin-right: 5px;
}
.head-box .fa {
    font-size: 16px;
    color: #ed4337;
    margin-right: 5px;
}

/*24-09-2016*/
/*form styles*/
#msform {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    overflow-y:auto;
    height: 400px;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    counter-reset: step;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    padding: 10px 0;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li::before {
    background: #eff4f7 none repeat scroll 0 0;
    border-radius: 100%;
    color: #333333;
    content: counter(step, decimal);
    counter-increment: step;
    display: block;
    font-size: 12px;
    line-height: 50px;
    margin: 0 auto 5px;
    width: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
}
/*progressbar connectors*/
#progressbar li::after {
    background: #eff4f7 none repeat scroll 0 0;
    content: "";
    height: 4px;
    left: -50%;
    position: absolute;
    top: 23px;
    width: 100%;
    z-index: -1;
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #ffc857;
  color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
#progressbar > li {
    color: #333333;
    font-size: 12px;
}
.previous.action-button {
    background: #ed4337  none repeat scroll 0 0 !important;
}

#msform .action-button{
  transition:all 0.4s;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
}

#msform .action-button:hover{
    box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -3px) scale(1.05);
}

/*26-09-2016*/
.form-header {
    color: #777777;
    float: left;
    font-size: 13px;
    font-weight: 400;
}
.full-details {
    padding-left: 0;
}
.full-details li {
    border-bottom: 1px solid #dddddd;
    float: left;
    list-style: outside none none;
    padding: 5px 0;
    width: 100%;
}
.name-enetrprise {
    float: left;
    width: 50%;
    text-align: center;
}
.destory {
    float: left;
    text-align: center;
    width: 50%;
}
.name-enetrprise a, .destory a {
    color: #333333;
    transition: all 0.4s ease 0s;
}
.name-enetrprise a:hover, .destory a:hover {
  color: #ffc857;
  text-decoration: none;
}
.head-box {
    background: #eff4f7 none repeat scroll 0 0;
    color: #777777;
    padding: 10px;
}
.full-details li:first-child {
    padding-bottom: 0;
}
.pro-message .circle-pic {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    height: 80px;
    overflow: hidden;
    width: 80px;
    position: relative;
}
.message ul {
    padding-left: 0;
}
.message ul li {
    padding-left: 0;
    list-style: none;
}
.message ul  a{
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: left;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    position: relative;
}
.on-off {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    height: 30px;
    left: 70px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 30px;
}
.on-off.online {
    background: #ffc857 none repeat scroll 0 0;
    color: #ffffff;
}
.pro-message {
    float: left;
    width: 10%;
}
.destory .fa{
  color: #ed4337;
  font-size: 18px;
}
.edit .fa {
    color: #fff;
}
.test{
  margin-top: 55px;
}

.main-view-propsal{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 30px;
  padding: 15px;
}
.details ul {
    padding-left: 0;
}
.details ul li{
    list-style: none;
    width: 25%;
    float: left;
}
.sr-name {
    float: left;
    font-size: 18px;
    line-height: 55px;
    width: 80%;
}
.message ul a:first-child {
    margin-top: 10px;
}
.message {
    float: left;
    width: 100%;
}
.message-box {
    float: left;
    width: 100%;
}
.on-off .fa {
    color: #ffc857;
}
.on-off.online .fa{
  color: #fff;
}
.message-header {
    background: #222222   none repeat scroll 0 0;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.message-box {
    padding-left: 15px;
    padding-top: 15px;
}
.message{
    padding-right: 15px;
    padding-top: 10px;
}
.message-body {
    height: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 15px;
    background: #eff4f7;
}
.circle-message {
    border-radius: 100%;
    height: 40px;
    overflow: hidden;
    width: 40px;
    float: left;
}
.circle-message img{
  width: 100%;
}
.message-body ul {
    padding-left: 0;
}
.message-body ul li {
    float: left;
    list-style: outside none none;
    width: 100%;
    margin-bottom: 10px;
}
.message-trip {
    float: left;
    padding-left: 15px;
    width: calc(100% - 40px);
}
.tap-sticker {
    background: #ffc857 none repeat scroll 0 0;
    color: #ffffff;
    padding: 5px;
    width: 250px;
    position: relative;
}
.tap-sticker::after{
  content:"";
width: 0;
height: 0;
border-style: solid;
border-width: 0 15px 15px 0;
border-color: transparent #ffc857 transparent transparent;
position: absolute;
left: -15px;
top:0;
}
.timer {
    display: block;
    font-size: 11px;
    opacity: 0.7;
}
.rlt{
  float: right;
}
.rlt .tap-sticker {
    float: right;
    text-align: right;
}
.rlt .message-trip{
  padding-right: 15px;
  padding-left:0;
}
.rlt .tap-sticker::after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  right: -15px;
  left: auto;
  top:0;
}
.rlt .tap-sticker {
    background: #333333 none repeat scroll 0 0;
    color: #ffffff;
}
.sender-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sender-box .form-group {
    border: medium none;
    height: 40px;
    margin-bottom: 0;
    padding: 0 15px;
    width:calc(100% - 55px);
    float: left;
}
.sender-box .form-group  input {
    width: 100%;
}
.sender-box {
    float: left;
    width: 100%;
    padding: 5px 15px;
}
.sender-box span a .fa {
    line-height: 40px;
    color: #ffc857;
}


.head-tab {
    background: #ffc857 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
}
.terminals .btn-yes-no{
  position: initial;
}


.head-tab {
    background: #ffc857 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
}
.terminals .btn-yes-no{
  position: initial;
}
.btn-yes-no .remodal-confirm{
    padding: 10px;
}
.btn-yes-no .remodal-cancel{
    padding: 10px;
}
.btn-yes-no a {
    float: left;
    margin-right: 5px;
    text-decoration: none;
}
.user-follow{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
}
.pic-user {
    border-radius: 100%;
    height: 100px;
    overflow: hidden;
    width: 100px;
}
.pic-user img {
    height: 100%;
    width: auto;
}
.user-follow ul {
    padding-left: 0;
}
.user-follow ul li{
    list-style: none;
}
.tag-1 {
    width: 100px;
}
.tag-2 {
  width: calc(100% - 200px;)
}
.tag-3 {
  width: 100px;
}


.menu {
  list-style:none;
  margin: 50px auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  -webkit-transform: skewX(25deg);
}
.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}
.menu li:hover {
  background: #e74c3c;
}
.menu > li > a {
  -webkit-transform: skewX(-25deg);
  padding: 1em 2em;
}
/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  -webkit-transform: skewX(-25deg);
  -webkit-transform-origin: left top;
}
.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;
}
.submenu > li > a {
  padding: 1em 2em;
}
.submenu > li::after {
  content:'';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
  -webkit-transform: skewX(25deg);
}
.submenu > li:nth-child(odd)::after {
  right: -50%;
  -webkit-transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
  -webkit-transform: skewX(-25deg);
}
.submenu > li:nth-child(even)::after {
  left: -50%;
  -webkit-transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
.submenu, .submenu li {
  opacity: 0;
  visibility: hidden;
}
.submenu li {
  transition: .2s ease -webkit-transform;
}
.menu > li:hover .submenu, .menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(-15px);
}
.btn-yes-no input[type=submit]:hover{
  box-shadow: none;
  transform:inherit;
}

/*29/06/2016*/
/*hover on profile pic effect*/

.go-top {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 18px;
    height: 150px;
    overflow: hidden;
    padding-top: 28px;
    position: absolute;
    text-align: center;
    top: -150px;
    transition: all 0.3s ease 0s;
    width:150px;
}
.circle:hover > .go-top {
    top: 0;
}

.circle input[type="file"] {
    display: block;
    float: left;
    height: 150px;
    opacity: 0;
    position: absolute;
    width: 100%;
    border-radius: 100%;
    z-index: 5;
}
.go-top a .fa {
    color: #fff;
    padding-top: 28px;
    opacity: 0.8;
    font-size: 36px;
}
.go-top .form-group{
  margin-bottom: 0;
}
.go-top-tag {
    background-color: rgba(255, 200, 87, 0.6);
    border-radius: 100%;
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 18px;
    height: 50px;
    overflow: hidden;
    padding-top: 28px;
    position: absolute;
    text-align: center;
    top: -50px;
    width:50px;
}

.short-profile ul li a:hover .main-profile > .go-top-tag {
  top:0;
}
