<%= content_for :body_class, 'index' %>
<%= content_for :body_id, 'page-top' %>
<header class="back-image">

</header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 about">
      <h3>About</h3>
      <ul>
      <li>AngelList is a platform for startups—started by the dudes who do <a href="#">Venture Hacks.</a></li>
      <li>Meet the <a href="#">team.</a></p>
      <li>Browse <a href="#">startups</a> and <a href="#">investors.</a></li>
      <li>Questions? Email <a href="#">us.</a></p>
      <li>For questions about jobs & recruiting, email <a href="#">talent@angel.co.</a></li>
      <ul>
    </div>
  </div>
</div>
<%= react_component('Test') %>
