<!--main-details-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tags-view">
          <p class="tag-new-view">Loerm ipsum  is simply dummy text of the printing<br/> and typesetting industry.</p>
          <p class="tag-new-view-1">For years, Gust has been helping angel investor groups and venture capital funds collaborate with promising startups. Over the last 12 months 1800+ startups have been funded through Gust’s SaaS funding platform.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="main-view-tag text-center">
          <h1>Designed Around You</h1>
          <p>Gust offers the tools accredited angel investors, venture funds and startup programs need to get the job done. Whether you're an angel investor group syndicating a deal, a venture fund vetting a big investment, or a startup program connecting investors with top startup talent, Gust is designed for safe collaboration.</p>
        </div>
        <div class="row tag-rate">
          <div class="col-xs-6">
            <div class="view-img"><img src="/assets/ipad-frame.jpg"></div>
          </div>
           <div class="col-xs-6 view-sec">
              <ul>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Loerm Ipsum There</span>
                  <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Loerm Ipsum There</span>
                  <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Loerm Ipsum There</span>
                  <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Loerm Ipsum There</span>
                  <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Loerm Ipsum There</span>
                  <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p></li>
              </ul>
           </div>
        </div>
      </div>
    </div>
    <div class="row  tag-rate box-view">
          <div class="col-sm-4 text-center">
            <div class="circle-tag-new">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
              <h2>lerm ipsum there</h2>
              <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="col-sm-4 text-center">
            <div class="circle-tag-new">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
            </div>
              <h2>lerm ipsum there</h2>
              <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="col-sm-4 text-center">
            <div class="circle-tag-new ">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
              <h2>lerm ipsum there</h2>
              <p>Loerm ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
  </div>
<!--main-details-->
