<!--main-details-->
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <div class="col-xs-12">
        <div class="tags-view">
          <p class="tag-new-view">We provide a world of investment opportunities and connect deal ready companies and sophisticated investors.</p>
          <p class="tag-new-view-1">For years, INP has been helping angel investor groups and venture capital funds collaborate with promising startups. We help investors connect with startups and lead them to success.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="main-view-tag text-center">
          <h1>Designed Around You</h1>
          <p>INP offers the tools accredited angel investors, venture funds and startup programs need to get the job done. Whether you're an angel investor group syndicating a deal, a venture fund vetting a big investment, or a startup program connecting investors with top startup talent, INP is designed for safe collaboration.</p>
        </div>
        <div class="row tag-rate">
          <div class="col-xs-6">
            <div class="view-img"><img src="/assets/ipad-frame.jpg"></div>
          </div>
           <div class="col-xs-6 view-sec">
              <ul>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Platform</span>
                  <p>INP platform helps sophisticated investors and their advisors find the right alternative investments for their portfolio easily.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Offer Filtering</span>
                  <p>Investors and their advisors can search and filter pre-screened offerings from companies and startups.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Private Messaging</span>
                  <p>Full access to information and data required to perform due diligence, and the ability to contact companies and startups directly through member-to-member messaging.</p></li>
                <li><span class="tag-ico"><i class="fa fa-paper-plane" aria-hidden="true"></i>Dedicated Assitants</span>
                  <p>We assist the process from term sheet to signed agreement which requires absolute flexibility. At this stage the company and each investor are directly connected to meet face-to-face, undertake their due diligence, negotiate final terms and sign a deal. </p></li>
              </ul>
           </div>
        </div>
      </div>
    </div>
    <div class="row  tag-rate box-view">
          <div class="col-sm-6 text-center">
            <div class="circle-tag-new">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
            </div>
              <h2>Intevestors using INP</h2>
              <p>•	Family offices
                •	Foundations
                •	Institutions
                •	Accredited individuals
              </p>
          </div>
          <div class="col-sm-6 text-center">
            <div class="circle-tag-new ">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
              <h2>Advisors Using INP</h2>
              <p>•	Registered Investment Advisors
                •	Independent Broker Dealers
                •	Attorneys
                •	Accountants

              </p>
          </div>
    </div>

    <div class="row text-center">
      <Link href="/users/sign_up" to=""><h2>Find out how INP can help you</h2></Link>
    </div>

  </div>
<!--main-details-->
