<!--main-details-->
  <div class="bg enterprise">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="box">
            <h2>Startup</h2>
            <p>Loerm Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
            <div class="submit-tag text-center">
              <%= link_to "Get Started for Free", new_user_registration_path, class: "btn btn-default" %>
              <!-- <button class="btn btn-default">Get strated for free</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row tag-set">
        <div class="col-xs-4">
          <div class="tag-view">
            <img src="/assets/234.png"/>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="tag">Loerm ipsum</div>
          <h3>Loerm ipsum that tag</h3>
          <p>Building a business is hard, but starting it shouldn’t be. So we teamed up with the world’s leading law firms and seed investment funds to make it easier, faster and more affordable to set up your company. Launch is built specifically for founders who are creating high-growth, investable ventures within the United States.</p>
        </div>
      </div>
       <div class="row tag-set">
        <div class="col-xs-8">
          <div class="tag">Loerm ipsum</div>
          <h3>Loerm ipsum that tag</h3>
          <p>Building a business is hard, but starting it shouldn’t be. So we teamed up with the world’s leading law firms and seed investment funds to make it easier, faster and more affordable to set up your company. Launch is built specifically for founders who are creating high-growth, investable ventures within the United States.</p>
        </div>
        <div class="col-xs-4">
           <div class="tag-view">
            <img src="/assets/234.png"/>
          </div>
        </div>
      </div>
  </div>
  <div class="bg-ray">
    <div class="container">
       <div class="row tag-set new">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h3>Loerm Ipsum thare Loerm Ipsum thare</h3>
              <p>400,000 Founders. 60,000 Investment Professionals. 190 Countries.</p>
              <div class="submit-tag text-center">
                <%= link_to "Get Started for Free", new_user_registration_path, class: "btn btn-default" %>
                <!-- <button class="btn btn-default">Get strated for free</button> -->
              </div>
            </div>
       </div>
    </div>
  </div>
  </div>
<!--main-details-->
