<!--main-details-->
  <div class="bg enterprise">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="box">
            <h2>Startup</h2>
            <p>iNETPLUS International ventures (INP) established a unique entrepreneurial ecosystem to empowering entrepreneurs grow their businesses.</p>
            <div class="submit-tag text-center">
              <%= link_to "Get Started for Free", new_user_registration_path, class: "btn btn-default" %>
              <!-- <button class="btn btn-default">Get strated for free</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row tag-set">
        <div class="col-xs-4">
          <div class="tag-view">
            <img src="/assets/234.png"/>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="tag">Dynamic</div>
          <h3>Callaborative</h3>
          <p>Startups and entrepreneurs can find their own collaborative partners worldwide through INP platform.</p>
        </div>
      </div>
       <div class="row tag-set">
        <div class="col-xs-8">
          <div class="tag">Global</div>
          <h3>International
          <p>A cross-border ecosystem oriented by market demand and industrial innovation implemented by INP means providing more room for company development.</p>
        </div>
        <div class="col-xs-4">
           <div class="tag-view">
            <img src="/assets/234.png"/>
          </div>
        </div>
      </div>
    <div class="row tag-set">
      <div class="col-xs-4">
        <div class="tag-view">
          <img src="/assets/234.png"/>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="tag">Dynamic</div>
        <h3>Matching</h3>
        <p>Our system adopts technology to help companies quickly match to financial and strategic investors.</p>
      </div>
    </div>
    <div class="row tag-set">
      <div class="col-xs-8">
        <div class="tag">Corporate</div>
        <h3>Architecture</h3>
          <p>Through INP platform, companies can utilize affordable professional services in business planning, corporate architecture design, as well as IPO listing planning by leading service organizations around the world.</p>
      </div>
      <div class="col-xs-4">
        <div class="tag-view">
          <img src="/assets/234.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-ray">
    <div class="container">
       <div class="row tag-set new">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h3>Find out how INP can help you </h3>
              <div class="submit-tag text-center">
                <%= link_to "Get Started for Free", new_user_registration_path, class: "btn btn-default" %>
                <!-- <button class="btn btn-default">Get strated for free</button> -->
              </div>
            </div>
       </div>
    </div>
  </div>
  </div>
<!--main-details-->
