<%= content_for :body_class, 'index' %>
<%= content_for :body_id, 'page-top' %>
<header class='back-image'>

</header>
<div class="login-set">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="log-in box">
          <form>
            <div class="wel-com-tag">Welcome to start<br/> bootsrap</div>
            <div class="form-group login">
                <label for="usr">Email</label>
                <input type="email" class="form-control" placeholder="Enter your Email">
            </div>
            <div class="form-group password">
                <label for="pass">password</label>
                <input type="password" class="form-control" placeholder="Enter your Password">
            </div>
            <div class="form-group">
              <a class="password-go" href="#">Forgot Password?</a>
            </div>
            <div class="form-group">
              <div class="submit-btn">
                <a class="btn btn-default" href="#">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div
