<%= content_for :body_class, 'index' %>
<%= content_for :body_id, 'page-top' %>
<header class='back-image'>

</header>
<div class="login-set registration">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="log-in box">
          <form>
            <div class="wel-com-tag">Welcome to start<br/> bootsrap</div>
            <div class="form-group">
                <label for="usr">First Name</label>
                <input type="text" class="form-control" placeholder="Enter your First Name">
            </div>
            <div class="form-group">
                <label for="usr">Last Name</label>
                <input type="text" class="form-control" placeholder="Enter your Last Name">
            </div>
            <div class="form-group">
                <label for="emal">Email</label>
                <input type="email" class="form-control" placeholder="Enter your Eamil">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" placeholder="Enter your Password">
            </div>
            <div class="form-group">
              <div class="submit-btn">
                <a class="btn btn-default" href="#">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="log-in box">
          <div class="clearfix">
            <div class="social">
              <ul>
                <li><a href="#"><span class="fa fa-weixin"></span><span class="social-name">Wee Chat</span></a></li>
                <li><a href="#"><span class="fa fa-qq"></span><span>QQ</span></a></li>
                <li><a href="#"><span class="fa fa-google"></span><span>Gmail</span></a></li>
                <li><a href="#"><span class="fa fa-facebook"></span><span>Facebook</span></a></li>
              </ul>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div
