<%#= content_for :body_class, 'index' %>
<%#= content_for :body_id, 'page-top' %>
<%#= content_for :header_manage_class, 'header_manage' %>

<% react_component('Services') %>
<section class="modify">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="head-title">Video</h2>
    </div>
    <div class="col-xs-12">
      <div class="service-view">
        <ul>
          <li>
            <div class="video-mode">
              <iframe width="100%"  src="https://www.youtube.com/embed/HndV87XpkWg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="deatails-mode">
              <p>Loerm Ipsum  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </li>
          <li>
            <div class="video-mode">
              <iframe width="100%"  src="https://www.youtube.com/embed/HndV87XpkWg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="deatails-mode">
              <p>Loerm Ipsum  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </li>
          <li>
            <div class="video-mode">
              <iframe width="100%"  src="https://www.youtube.com/embed/HndV87XpkWg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="deatails-mode">
              <p>Loerm Ipsum  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
</div>
</section>
<section class="modify bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 about">
        <h3>Benefits</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="box-tex text-center">
              <div class="circle">
                <span class="fa fa-clock-o"></span>
              </div>
              <h3>Nullam posuere cursus risus, at porttitor risus euismod vel.</h3>
              <p>
                Proin venenatis nulla mi, non luctus libero fringilla vel. In a elementum tortor, non porttitor risus. Aliquam ullamcorper pharetra arcu, in consectetur eros porttitor vel. In iaculis in turpis at elementum. Nam faucibus arcu quis neque suscipit scelerisque. Phasellus odio felis, pellentesque dictum volutpat id, maximus id est.
              </p>
            </div>
          </div><div class="col-md-4">
            <div class="box-tex text-center">
              <div class="circle">
                <span class="fa fa-clock-o"></span>
              </div>
              <h3>Nullam posuere cursus risus, at porttitor risus euismod vel.</h3>

              <p>
                Nullam posuere cursus risus, at porttitor risus euismod vel. Proin et ullamcorper felis, et feugiat lectus. Donec urna dolor, facilisis ac bibendum ac, dapibus ullamcorper nibh. Praesent dictum magna eu mi gravida congue. Suspendisse potenti. Nunc quis fermentum neque. Ut sit amet tincidunt ligula. Sed vestibulum fermentum euismod.
              </p>
            </div>
          </div><div class="col-md-4">
            <div class="box-tex text-center">
              <div class="circle">
                <span class="fa fa-clock-o"></span>
              </div>
              <h3>Nullam posuere cursus risus, at porttitor risus euismod vel.</h3>
              <p>
                Curabitur dui velit, faucibus tempus tincidunt non, feugiat id mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at vestibulum est, vel condimentum sem. Sed tincidunt enim ac bibendum sodales. Vivamus a dignissim elit. Suspendisse efficitur tincidunt odio quis tincidunt. Cras at turpis at quam sagittis ultrices sed quis lectus.
              </p>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
