<header class='back-image'>

</header>

<%= react_component('Questionaire', props: {data: {question:  @questions, params: params[:enterprise]}}) %>

<!-- <div class="container">
  <div class="col-xs-12">
    <div class="question">
      <ul>
        <li>
          <div class="box-sed">
          <div class="que-set">
          <span class="icon-ahead">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </span>
            <h2>Loerm is simply dummy text of the printing and typesetting industry?</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="registration question-type">
            <input type="text" placeholder="Type answer" name="user[login]" value="" />
          </div>
        </div>
          <div class="answer">
              <div class="type-ans">
              </div>
          </div>
        </li>
        <li>
          <div class="box-sed">
          <div class="que-set">
          <span class="icon-ahead">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </span>
            <h2>Loerm is simply dummy text of the printing and typesetting industry?</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="registration question-type">
            <input type="text" placeholder="Type answer" name="user[login]" value="" />
          </div>
        </div>
          <div class="answer">
              <div class="type-ans">
              </div>
          </div>
        </li>
        <li>
          <div class="box-sed">
          <div class="que-set">
          <span class="icon-ahead">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </span>
            <h2>Loerm is simply dummy text of the printing and typesetting industry?</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="registration question-type">
            <input type="text" placeholder="Type answer" name="user[login]" value="" />
          </div>
        </div>
          <div class="answer">
              <div class="type-ans">
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->
