<h1>Editing Meeting Room Message Document</h1>

<%= render 'form', meeting_room_message_document: @meeting_room_message_document %>

<%= link_to 'Show', @meeting_room_message_document %> |
<%= link_to 'Back', meeting_room_message_documents_path %>
