<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_offers_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <%= render "/user_dashboards/sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade editable-contact-info active in edit-mode-enabled">
            <div class="main-proposal">
              <div class="main-view-propsals">
                <div class="all-notification-close">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="buttons">
                <a href="#"><div class="edit"><i aria-hidden="true" class="fa fa-pencil"></i></div></a>
                </div>
                <div class="details">
                  <div class="pro-view">
                    <div class="circle"><img src="images/pro-1.jpg" class="display-mode-value"></div>
                    <h3>Shantilal   Matariya</h3>
                  </div>
                  <ul>
                    <li>
                      <div class="title">Basic Details </div>
                      <ul class="tap-style">
                        <li>
                          <label>proposal stage identifier</label>
                          <div class="names-filed">string</div>
                        </li>
                        <li>
                          <label>new business model</label>
                          <div class="names-filed">boolean</div>
                        </li>
                        <li>
                          <label>new product</label>
                          <div class="names-filed">boolean</div>
                        </li>
                        <li>
                          <label>pitch</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>introduction</label>
                          <div class="name-files">text</div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="title">Yearly</div>
                      <ul class="tap-style">
                        <li>
                          <label>one year target audience</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>one year per capita annual spending</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>one year number of users</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>one year market cap</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>one year penetration rate</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>one year marketing strategy</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>one year gross profit margin</label>
                          <div class="names-filed">integer</div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="title">Five year plan</div>
                      <ul class="tap-style">
                        <li>
                          <label>five year target audience</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>five year per capita annual spending</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>five year number of users</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>five year market cap</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>five year penetration rate</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>five year marketing strategy</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>five year gross profit margin</label>
                           <div class="names-filed">integer</div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <ul class="tap-style">
                        <div class="title">Competetive Strategy</div>
                        <li>
                          <label>competitors details</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>competitive  edges</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>competing strategy</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>investment amount</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>iinvestment currency</label>
                          <div class="names-filed">string</div>
                        </li>
                        <li>
                          <label>iequity percentage</label>
                          <div class="names-filed">integer</div>
                        </li>
                        <li>
                          <label>spending plan</label>
                          <div class="names-filed">text</div>
                        </li>
                        <li>
                          <label>next investment round</label>
                           <div class="names-filed">integer</div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
