<div id="add_member" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Members</h4>
      </div>
      <%= form_tag add_member_enterprises_path do |f| %>
          <div class="modal-body">
            <%= hidden_field_tag 'enterprise_id', id %>
            <%= text_field_tag "invitee", "", class: "form-control", placeholder: "Enter email id of Invitee..." %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Submit" %>
          </div>
      <% end %>
    </div>
  </div>
</div>