<h1>Editing Meeting Room Message</h1>

<%= render 'form', meeting_room_message: @meeting_room_message %>

<%= link_to 'Show', @meeting_room_message %> |
<%= link_to 'Back', meeting_room_messages_path %>
