<!-- <h2>Sign up</h2>

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
    <em>(<%#= @minimum_password_length %> characters minimum)</em>
    <%# end %><br />
    <%#= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%#= f.submit "Sign up" %>
  </div>
<%# end %>

<%#= render "users/shared/links" %> -->
<!--
<header class='back-image'>

</header>
<div class="container">
<div class="col-xs-12">
  <form>
  <h1 class="text-center">Registration</h1>
  <input placeholder="Fullname" type="text" required="" />
  <input placeholder="Email Address" type="text" required="" />
  <input placeholder="Username" type="text" required="" />
  <input placeholder="Password" type="password" required="" />
  <input placeholder="Confirm Password" type="text" required="" />
  <input type="submit"/>
  </form>

</div>
</div> -->


<!-- Material Deisgn -->
<!-- <header class='back-image'>

</header>
<div class="login-set registration">
  <div class="container">
    <div class="row">
      <div class="registration col-xs-12 col-sm-6">
        <div class="">
          <form class="register">
            <h1 class="text-center">Register Now</h1>
            <div class="form-group">
              <input type="text" placeholder="Enter your full name" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="Enter your Email-Address" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="Enter your desired user name" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm your Password" />
            </div>
            <div class="form-group radio-item">
              <div class="radio">
                <label><input type="radio" name="optradio" checked>Option 1</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">Option 2</label>
              </div>
            </div>
          <div class="form-group"><div class="submit-btn"><input type="submit" class="btn-default btn"></div></div>
          </form>
        </div>
      </div>
        <div class="social-register col-xs-12 col-sm-6">
          <div class="">
            <div class="clearfix">
              <div class="links">
              <h1 class="text-center">Join Us</h1>
                <ul class="social">
                  <li><a href="#"><span class="fa fa-weixin"></span><span>We Chat</span></a></li>
                  <li><h6>OR</h6></li>
                  <li><a href="#"><span class="fa fa-weixin"></span><span>QQ</span></a></li>
                  <li><h6>OR</h6></li>
                  <li><a href="#"><span class="fa fa-weixin"></span><span>Facebook</span></a></li>
                  <li><h6>OR</h6></li>
                  <li><a href="#"><span class="fa fa-weixin"></span><span>Twitter</span></a></li>
                </ul>
            </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div> -->

<%= content_for :body_class, 'index' %>
<%= content_for :body_id, 'page-top' %>

<header class='back-image'>

</header>

<% link_to "Forgot Password", new_password_path('user'), :class => "login-link" %>

<%= react_component('Registration', props: {
                                          data: {
                                            authenticity_token: form_authenticity_token,
                                            translation: {
                                              register: I18n.t('labels.register'),
                                              full_name: I18n.t('labels.full_name'),
                                              email_address: I18n.t('labels.email_address'),
                                              user_name: I18n.t('labels.user_name'),
                                              password: I18n.t('labels.password'),
                                              confirm_password: I18n.t('labels.confirm_password'),
                                              submit: I18n.t('labels.submit'),
                                              startup: I18n.t('label.startup'),
                                              investor: I18n.t('label.investor'),
                                              social_media_register: I18n.t('labels.social_media_register'),
                                              }
                                            }
                                          }) %>
